.customize-pane-parent .accordion-section-title .button-secondary{
    background-color: #0A204E !important;
    color: #fff;
    border-color: #0A204E !important;
    transition: .35s ease;
}
.control-section-pro-section .accordion-section-title:after{
    display: none !important;
}
.customize-pane-parent #accordion-section-constructionn_view_pro h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-accordion-section-theme_info #customize-control-theme_info_theme .customize-control-description ul li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 10px;
}