@charset "UTF-8";


:root {
    --shop-primary-color: #13297E;
    --shop-secondary-color: #178CEF;
    --shop-primary-font: Open Sans, sans-serif;
    --shop-text-primary: #252525;
    --shop-text-secondary: #606060;
    --shop-white-color: #ffffff;
    --shop-primary-bg: #EFF7FE;
    --shop-primary-light: #1e3ebd;
  }
  
  .woocommerce .content-area {
    max-width: 1200px;
    margin: 0 auto;
  }
  .woocommerce .products::before, .woocommerce .products::after {
    position: absolute;
  }
  .woocommerce .products.columns-4 {
    display: grid;
    gap: 34px;
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: 480px) {
    .woocommerce .products.columns-4 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 767px) {
    .woocommerce .products.columns-4 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 974px) {
    .woocommerce .products.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .woocommerce .products {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 974px) {
    .woocommerce .products {
      margin-bottom: 100px;
    }
  }
  .woocommerce .products .product {
    width: 100% !important;
    margin: 0 !important;
    padding: 20px !important;
    -webkit-box-shadow: 0px 0px 2px var(--shop-secondary-color);
            box-shadow: 0px 0px 2px var(--shop-secondary-color);
    border-radius: 8px;
  }
  .woocommerce .products .product .woocommerce-loop-product__link img {
    border-radius: 8px;
  }
  .woocommerce .products .product > a.woocommerce-loop-product__link:hover .woocommerce-loop-product__title {
    color: var(--shop-primary-color);
  }
  .woocommerce .products .product .onsale {
    min-height: auto;
    min-width: auto;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--shop-primary-color);
    line-height: normal;
    top: 36px !important;
    right: auto !important;
    left: 32px !important;
    font-weight: 400;
    font-size: 13px;
  }
  .woocommerce .products .product .woocommerce-Price-amount.amount {
    color: var(--shop-primary-color);
  }
  .woocommerce .products .product .woocommerce-Price-amount.amount bdi, .woocommerce .products .product .woocommerce-Price-amount.amount .woocommerce-Price-currencySymbol {
    color: var(--shop-secondary-color);
  }
  .woocommerce .products .product .button {
    width: 100%;
    display: inline-block;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid var(--shop-primary-color);
    background-color: var(--shop-primary-color);
    gap: 8px;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
    color: var(--shop-white-color);
    font-weight: 400;
    font-size: 14px;
    padding: 1em;
  }
  .woocommerce .products .product .button:hover {
    background-color: var(--shop-primary-light);
    color: var(--shop-white-color);
  }
  .woocommerce .products .product .button.product_type_grouped::after {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M15.3425 7.84812C15.3212 7.79937 14.8012 6.64625 13.64 5.485C12.5625 4.40875 10.7112 3.125 7.99997 3.125C5.28872 3.125 3.43747 4.40875 2.35997 5.485C1.19872 6.64625 0.67872 7.7975 0.65747 7.84812C0.636103 7.89613 0.625061 7.94808 0.625061 8.00062C0.625061 8.05317 0.636103 8.10512 0.65747 8.15312C0.67872 8.20125 1.19872 9.35438 2.35997 10.5156C3.43747 11.5919 5.28872 12.875 7.99997 12.875C10.7112 12.875 12.5625 11.5919 13.64 10.5156C14.8012 9.35438 15.3212 8.20312 15.3425 8.15312C15.3638 8.10512 15.3749 8.05317 15.3749 8.00062C15.3749 7.94808 15.3638 7.89613 15.3425 7.84812ZM7.99997 12.125C6.03872 12.125 4.32622 11.4113 2.90934 10.0044C2.31539 9.41409 1.81278 8.73854 1.41809 8C1.81267 7.26158 2.31529 6.58622 2.90934 5.99625C4.32622 4.58875 6.03872 3.875 7.99997 3.875C9.96122 3.875 11.6737 4.58875 13.0906 5.99625C13.6846 6.58622 14.1873 7.26158 14.5818 8C14.1837 8.76313 12.1875 12.125 7.99997 12.125ZM7.99997 5.125C7.43135 5.125 6.8755 5.29362 6.40271 5.60952C5.92991 5.92543 5.56142 6.37445 5.34382 6.89979C5.12621 7.42512 5.06928 8.00319 5.18021 8.56088C5.29115 9.11858 5.56496 9.63086 5.96704 10.0329C6.36911 10.435 6.88139 10.7088 7.43909 10.8198C7.99678 10.9307 8.57485 10.8738 9.10018 10.6562C9.62552 10.4386 10.0745 10.0701 10.3904 9.59726C10.7064 9.12447 10.875 8.56862 10.875 8C10.874 7.23781 10.5708 6.50712 10.0318 5.96816C9.49285 5.42921 8.76216 5.12599 7.99997 5.125ZM7.99997 10.125C7.57968 10.125 7.16884 10.0004 6.81938 9.76687C6.46993 9.53338 6.19756 9.20149 6.03673 8.8132C5.87589 8.42491 5.83381 7.99764 5.9158 7.58543C5.99779 7.17322 6.20018 6.79458 6.49737 6.4974C6.79455 6.20021 7.17319 5.99782 7.5854 5.91583C7.99761 5.83384 8.42488 5.87592 8.81317 6.03676C9.20146 6.19759 9.53334 6.46996 9.76684 6.81941C10.0003 7.16887 10.125 7.57971 10.125 8C10.125 8.56359 9.90109 9.10409 9.50257 9.5026C9.10406 9.90112 8.56356 10.125 7.99997 10.125Z' fill='black'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M15.3425 7.84812C15.3212 7.79937 14.8012 6.64625 13.64 5.485C12.5625 4.40875 10.7112 3.125 7.99997 3.125C5.28872 3.125 3.43747 4.40875 2.35997 5.485C1.19872 6.64625 0.67872 7.7975 0.65747 7.84812C0.636103 7.89613 0.625061 7.94808 0.625061 8.00062C0.625061 8.05317 0.636103 8.10512 0.65747 8.15312C0.67872 8.20125 1.19872 9.35438 2.35997 10.5156C3.43747 11.5919 5.28872 12.875 7.99997 12.875C10.7112 12.875 12.5625 11.5919 13.64 10.5156C14.8012 9.35438 15.3212 8.20312 15.3425 8.15312C15.3638 8.10512 15.3749 8.05317 15.3749 8.00062C15.3749 7.94808 15.3638 7.89613 15.3425 7.84812ZM7.99997 12.125C6.03872 12.125 4.32622 11.4113 2.90934 10.0044C2.31539 9.41409 1.81278 8.73854 1.41809 8C1.81267 7.26158 2.31529 6.58622 2.90934 5.99625C4.32622 4.58875 6.03872 3.875 7.99997 3.875C9.96122 3.875 11.6737 4.58875 13.0906 5.99625C13.6846 6.58622 14.1873 7.26158 14.5818 8C14.1837 8.76313 12.1875 12.125 7.99997 12.125ZM7.99997 5.125C7.43135 5.125 6.8755 5.29362 6.40271 5.60952C5.92991 5.92543 5.56142 6.37445 5.34382 6.89979C5.12621 7.42512 5.06928 8.00319 5.18021 8.56088C5.29115 9.11858 5.56496 9.63086 5.96704 10.0329C6.36911 10.435 6.88139 10.7088 7.43909 10.8198C7.99678 10.9307 8.57485 10.8738 9.10018 10.6562C9.62552 10.4386 10.0745 10.0701 10.3904 9.59726C10.7064 9.12447 10.875 8.56862 10.875 8C10.874 7.23781 10.5708 6.50712 10.0318 5.96816C9.49285 5.42921 8.76216 5.12599 7.99997 5.125ZM7.99997 10.125C7.57968 10.125 7.16884 10.0004 6.81938 9.76687C6.46993 9.53338 6.19756 9.20149 6.03673 8.8132C5.87589 8.42491 5.83381 7.99764 5.9158 7.58543C5.99779 7.17322 6.20018 6.79458 6.49737 6.4974C6.79455 6.20021 7.17319 5.99782 7.5854 5.91583C7.99761 5.83384 8.42488 5.87592 8.81317 6.03676C9.20146 6.19759 9.53334 6.46996 9.76684 6.81941C10.0003 7.16887 10.125 7.57971 10.125 8C10.125 8.56359 9.90109 9.10409 9.50257 9.5026C9.10406 9.90112 8.56356 10.125 7.99997 10.125Z' fill='black'/%3E%3C/svg%3E");
    -webkit-mask-size: 18px;
            mask-size: 18px;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    background-color: var(--shop-white-color);
    height: 18px;
    width: 18px;
    display: inline-block;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
  }
  .woocommerce .products .product .button.product_type_grouped:hover::after {
    background-color: var(--shop-white-color);
  }
  .woocommerce .products .product .button.ajax_add_to_cart::after {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(/wp-content/themes/constructionn/assets/css/unminify/clip0_155_2)'%3E%3Cpath d='M5 3.00122V4.00122H14.5V5.98075L13.3906 9.50122H4.68538L3.43537 0.5H0.5V1.5H2.56463L3.81463 10.5012H14.124L15.5 6.13456V3.00122H5ZM5.53075 11.5107C5.0005 11.5114 4.49215 11.7223 4.1172 12.0972C3.74226 12.4721 3.53135 12.9805 3.53075 13.5107C3.53075 14.0412 3.74146 14.5499 4.11654 14.925C4.49161 15.3 5.00032 15.5107 5.53075 15.5107C6.06118 15.5107 6.56989 15.3 6.94496 14.925C7.32004 14.5499 7.53075 14.0412 7.53075 13.5107C7.53015 12.9805 7.31925 12.4721 6.94431 12.0972C6.56936 11.7222 6.061 11.5113 5.53075 11.5107ZM5.53075 14.5107C5.33297 14.5107 5.13963 14.4521 4.97518 14.3422C4.81073 14.2323 4.68256 14.0762 4.60687 13.8934C4.53118 13.7107 4.51138 13.5096 4.54996 13.3157C4.58855 13.1217 4.68379 12.9435 4.82364 12.8036C4.9635 12.6638 5.14168 12.5685 5.33566 12.53C5.52964 12.4914 5.73071 12.5112 5.91343 12.5869C6.09616 12.6626 6.25234 12.7907 6.36222 12.9552C6.4721 13.1196 6.53075 13.313 6.53075 13.5107C6.53044 13.7759 6.42498 14.03 6.23751 14.2175C6.05004 14.405 5.79587 14.5104 5.53075 14.5107ZM12.5308 11.5107C12.0005 11.5114 11.4921 11.7223 11.1172 12.0972C10.7423 12.4721 10.5314 12.9805 10.5308 13.5107C10.5308 14.0412 10.7415 14.5499 11.1165 14.925C11.4916 15.3 12.0003 15.5107 12.5308 15.5107C13.0612 15.5107 13.5699 15.3 13.945 14.925C14.32 14.5499 14.5308 14.0412 14.5308 13.5107C14.5302 12.9805 14.3192 12.4721 13.9443 12.0972C13.5694 11.7222 13.061 11.5113 12.5308 11.5107ZM12.5308 14.5107C12.333 14.5107 12.1396 14.4521 11.9752 14.3422C11.8107 14.2323 11.6826 14.0762 11.6069 13.8934C11.5312 13.7107 11.5114 13.5096 11.55 13.3157C11.5886 13.1217 11.6838 12.9435 11.8236 12.8036C11.9635 12.6638 12.1417 12.5685 12.3357 12.53C12.5296 12.4914 12.7307 12.5112 12.9134 12.5869C13.0962 12.6626 13.2523 12.7907 13.3622 12.9552C13.4721 13.1196 13.5308 13.313 13.5308 13.5107C13.5304 13.7759 13.425 14.03 13.2375 14.2175C13.05 14.405 12.7959 14.5104 12.5308 14.5107Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_155_2'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(/wp-content/themes/constructionn/assets/css/unminify/clip0_155_2)'%3E%3Cpath d='M5 3.00122V4.00122H14.5V5.98075L13.3906 9.50122H4.68538L3.43537 0.5H0.5V1.5H2.56463L3.81463 10.5012H14.124L15.5 6.13456V3.00122H5ZM5.53075 11.5107C5.0005 11.5114 4.49215 11.7223 4.1172 12.0972C3.74226 12.4721 3.53135 12.9805 3.53075 13.5107C3.53075 14.0412 3.74146 14.5499 4.11654 14.925C4.49161 15.3 5.00032 15.5107 5.53075 15.5107C6.06118 15.5107 6.56989 15.3 6.94496 14.925C7.32004 14.5499 7.53075 14.0412 7.53075 13.5107C7.53015 12.9805 7.31925 12.4721 6.94431 12.0972C6.56936 11.7222 6.061 11.5113 5.53075 11.5107ZM5.53075 14.5107C5.33297 14.5107 5.13963 14.4521 4.97518 14.3422C4.81073 14.2323 4.68256 14.0762 4.60687 13.8934C4.53118 13.7107 4.51138 13.5096 4.54996 13.3157C4.58855 13.1217 4.68379 12.9435 4.82364 12.8036C4.9635 12.6638 5.14168 12.5685 5.33566 12.53C5.52964 12.4914 5.73071 12.5112 5.91343 12.5869C6.09616 12.6626 6.25234 12.7907 6.36222 12.9552C6.4721 13.1196 6.53075 13.313 6.53075 13.5107C6.53044 13.7759 6.42498 14.03 6.23751 14.2175C6.05004 14.405 5.79587 14.5104 5.53075 14.5107ZM12.5308 11.5107C12.0005 11.5114 11.4921 11.7223 11.1172 12.0972C10.7423 12.4721 10.5314 12.9805 10.5308 13.5107C10.5308 14.0412 10.7415 14.5499 11.1165 14.925C11.4916 15.3 12.0003 15.5107 12.5308 15.5107C13.0612 15.5107 13.5699 15.3 13.945 14.925C14.32 14.5499 14.5308 14.0412 14.5308 13.5107C14.5302 12.9805 14.3192 12.4721 13.9443 12.0972C13.5694 11.7222 13.061 11.5113 12.5308 11.5107ZM12.5308 14.5107C12.333 14.5107 12.1396 14.4521 11.9752 14.3422C11.8107 14.2323 11.6826 14.0762 11.6069 13.8934C11.5312 13.7107 11.5114 13.5096 11.55 13.3157C11.5886 13.1217 11.6838 12.9435 11.8236 12.8036C11.9635 12.6638 12.1417 12.5685 12.3357 12.53C12.5296 12.4914 12.7307 12.5112 12.9134 12.5869C13.0962 12.6626 13.2523 12.7907 13.3622 12.9552C13.4721 13.1196 13.5308 13.313 13.5308 13.5107C13.5304 13.7759 13.425 14.03 13.2375 14.2175C13.05 14.405 12.7959 14.5104 12.5308 14.5107Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_155_2'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    -webkit-mask-size: 16px;
            mask-size: 16px;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    background-color: var(--shop-white-color);
    height: 16px;
    width: 16px;
    display: inline-block;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
  }
  .woocommerce .products .product .button.ajax_add_to_cart:hover::after {
    background-color: var(--shop-white-color);
  }
  .woocommerce .woocommerce-pagination {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 974px) {
    .woocommerce .woocommerce-pagination {
      margin-bottom: 80px;
    }
  }
  .woocommerce .woocommerce-pagination ul.page-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    border: 0;
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li {
    border: 0;
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers {
    height: 32px;
    width: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #ccc;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
    background-color: transparent;
    color: var(--shop-text-primary);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers:hover {
    background-color: var(--shop-primary-color);
    border-color: var(--shop-primary-color);
    color: var(--shop-white-color);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current {
    border-color: var(--shop-primary-color);
    color: var(--shop-white-color);
    background-color: var(--medi-primary-color);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .page-numbers.current:hover {
    background-color: transparent;
    border-color: var(--shop-primary-color);
    color: var(--shop-primary-color);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .prev.page-numbers, .woocommerce .woocommerce-pagination ul.page-numbers li .next.page-numbers {
    font-size: 0;
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .prev.page-numbers::after, .woocommerce .woocommerce-pagination ul.page-numbers li .next.page-numbers::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-color: #252525;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
    -webkit-mask-size: 24px;
            mask-size: 24px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.52382 11.0476L6.4762 8L9.52382 4.95238' stroke='black' stroke-width='0.761905' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.52382 11.0476L6.4762 8L9.52382 4.95238' stroke='black' stroke-width='0.761905' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .prev.page-numbers:hover, .woocommerce .woocommerce-pagination ul.page-numbers li .next.page-numbers:hover {
    border-color: var(--shop-text-primary);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .prev.page-numbers:hover::after, .woocommerce .woocommerce-pagination ul.page-numbers li .next.page-numbers:hover::after {
    background-color: var(--shop-white-color);
  }
  .woocommerce .woocommerce-pagination ul.page-numbers li .prev.page-numbers::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  .woocommerce.single-product .woocommerce-breadcrumb {
    background-color: var(--shop-primary-bg);
    padding: 20px;
    margin-bottom: 50px;
  }
  .woocommerce.single-product .woocommerce-breadcrumb a {
    color: var(--shop-primary-color);
  }
  .woocommerce.single-product .woocommerce-breadcrumb::before {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.35333 1.72667C7.53399 1.57351 7.76315 1.48944 8 1.48944C8.23685 1.48944 8.46601 1.57351 8.64667 1.72667L13.6467 5.96867C13.7574 6.06253 13.8463 6.17937 13.9074 6.31108C13.9684 6.44278 14 6.58619 14 6.73134V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14H9.16667C9.03406 14 8.90688 13.9473 8.81311 13.8536C8.71935 13.7598 8.66667 13.6326 8.66667 13.5V9.33333H7.33333V13.5C7.33333 13.6326 7.28065 13.7598 7.18689 13.8536C7.09312 13.9473 6.96594 14 6.83333 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V6.73134C2 6.438 2.12933 6.15867 2.35333 5.96867L7.35333 1.72667ZM8 2.48933L3 6.73134V13H6.33333V8.83333C6.33333 8.70073 6.38601 8.57355 6.47978 8.47978C6.57355 8.38601 6.70073 8.33333 6.83333 8.33333H9.16667C9.29928 8.33333 9.42645 8.38601 9.52022 8.47978C9.61399 8.57355 9.66667 8.70073 9.66667 8.83333V13H13V6.73134L8 2.48933Z' fill='black'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.35333 1.72667C7.53399 1.57351 7.76315 1.48944 8 1.48944C8.23685 1.48944 8.46601 1.57351 8.64667 1.72667L13.6467 5.96867C13.7574 6.06253 13.8463 6.17937 13.9074 6.31108C13.9684 6.44278 14 6.58619 14 6.73134V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14H9.16667C9.03406 14 8.90688 13.9473 8.81311 13.8536C8.71935 13.7598 8.66667 13.6326 8.66667 13.5V9.33333H7.33333V13.5C7.33333 13.6326 7.28065 13.7598 7.18689 13.8536C7.09312 13.9473 6.96594 14 6.83333 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V6.73134C2 6.438 2.12933 6.15867 2.35333 5.96867L7.35333 1.72667ZM8 2.48933L3 6.73134V13H6.33333V8.83333C6.33333 8.70073 6.38601 8.57355 6.47978 8.47978C6.57355 8.38601 6.70073 8.33333 6.83333 8.33333H9.16667C9.29928 8.33333 9.42645 8.38601 9.52022 8.47978C9.61399 8.57355 9.66667 8.70073 9.66667 8.83333V13H13V6.73134L8 2.48933Z' fill='black'/%3E%3C/svg%3E");
    -webkit-mask-size: 16px;
            mask-size: 16px;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-color: var(--medi-primary-color);
    display: inline-block;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    margin-right: 4px;
  }
  .woocommerce.single-product .product .onsale {
    min-height: auto;
    min-width: auto;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--shop-secondary-color);
    line-height: normal;
    top: 36px;
    right: auto;
    left: 32px;
    font-weight: 400;
    font-size: 13px;
  }
  .woocommerce.single-product .product .woocommerce-product-gallery {
    margin-bottom: 50px !important;
  }
  .woocommerce.single-product .product .summary.entry-summary .product_title.entry-title {
    font-size: 40px;
  }
  .woocommerce.single-product .product .summary.entry-summary .price {
    color: var(--shop-primary-color);
    font-size: 18px;
    margin-bottom: 14px;
  }
  .woocommerce.single-product .product .summary.entry-summary .price .woocommerce-Price-amount.amount {
    color: var(--shop-primary-color);
    font-size: 18px;
  }
  .woocommerce.single-product .product .summary.entry-summary .woocommerce-product-details__short-description {
    margin-bottom: 24px;
  }
  .woocommerce.single-product .product .summary.entry-summary .woocommerce-product-details__short-description p {
    margin-bottom: 6px;
  }
  .woocommerce.single-product .product .summary.entry-summary .woocommerce-product-details__short-description p:last-child {
    margin-bottom: 0;
  }
  .woocommerce.single-product .product .summary.entry-summary form.cart input[type=number] {
    margin: 0;
    border: 0;
    background-color: var(--shop-primary-bg);
  }
  .woocommerce.single-product .product .summary.entry-summary form.cart .quantity {
    margin-right: 16px;
  }
  .woocommerce.single-product .product .summary.entry-summary form.cart button {
    background-color: var(--shop-primary-color);
    font-weight: 400;
    padding: 0.618em 1.8em;
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta > span {
    color: var(--shop-primary-color);
    font-weight: 600;
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta > span > span {
    font-weight: 400;
    color: var(--shop-text-secondary);
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta .posted_in a {
    margin-right: 6px;
    font-weight: 400;
    color: var(--shop-text-secondary);
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta .posted_in a:hover {
    color: var(--shop-primary-color);
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta .posted_in a:hover::after {
    color: var(--shop-primary-color);
  }
  .woocommerce.single-product .product .summary.entry-summary .product_meta .posted_in a::after {
    content: ",";
    color: var(--shop-text-secondary);
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper {
    margin-bottom: 42px;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs {
    padding: 0;
    border-bottom: 1px solid var(--medi-primary-color);
    margin-bottom: 0;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs::before, .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs::after {
    display: none;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li {
    background-color: var(--shop-primary-bg);
    border: 0;
    border-radius: 0;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li::before, .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li::after {
    display: none;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li a {
    color: var(--shop-primary-color);
    font-weight: 400;
    padding: 10px 14px;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li:hover {
    background-color: var(--shop-primary-color);
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li:hover a {
    color: var(--shop-white-color);
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li.active {
    background-color: var(--shop-primary-color);
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .tabs > li.active a {
    color: var(--shop-white-color);
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content {
    margin: 0;
    padding: 12px 0;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .panel.entry-content h2 {
    margin: 12px 0;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .woocommerce-Reviews-title {
    margin-bottom: 0 !important;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .woocommerce-noreviews {
    margin-bottom: 4px;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-reply-title {
    font-size: 22px;
    color: var(--shop-primary-color);
    margin: 18px 0;
    display: inline-block;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form .comment-form-rating .stars {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .comment-form .comment-form-rating .stars span a::before {
    color: #ffa200;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit input[type=submit] {
    background-color: var(--shop-primary-color) !important;
    color: var(--shop-white-color) !important;
    padding: 16px 32px !important;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit input[type=submit]:hover {
    background-color: var(--shop-primary-light) !important;
  }
  .woocommerce.single-product .product .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Reviews .form-submit input[type=submit]:focus {
    background-color: var(--shop-primary-color) !important;
  }